<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="sku_to_smv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <sku_to_smv.Properties.Settings>
            <setting name="MainWndSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainWndMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosavePeriod" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SimulationPeriod" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LogSimulation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFieldTextFont" serializeAs="String">
                <value>Courier New, 12pt</value>
            </setting>
            <setting name="TextFieldTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextFieldCommentColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="TextFieldSignalColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="TextFieldHighLightning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFieldHighLightPeriod" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="GrafFieldTextFont" serializeAs="String">
                <value>Courier New, 14.25pt</value>
            </setting>
            <setting name="GrafFieldTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GrafFieldLocalSignalColor" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="GrafFieldInputSignalColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="GrafFieldSygnalSelectionColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="ToolsPanelLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GrafFieldSignalActiveColor" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="GrafFieldOutputSignalColor" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="TextFieldOptionColor" serializeAs="String">
                <value>192, 0, 192</value>
            </setting>
            <setting name="LogFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWndFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFieldEnableHighLight" serializeAs="String">
                <value>False</value>
            </setting>
        </sku_to_smv.Properties.Settings>
    </userSettings>
</configuration>
